@using sppo.Models.Advertisement

@model List<AdvertisementAddVM>

@foreach (AdvertisementAddVM x in Model)
{
	var picturePath = "~/images/" + (x.ProfileImg ?? "noimage.jpg");
	<div class="card border-primary mb-3" style="max-width: 30rem;">

		<div class="card-header">
			<img id="ProfImg" src="@picturePath" asp-append-version="true" style="width:120px;height:120px;" />
			<div id="ComUsrName">
				@if (x.CompanyName == null)
				{
					<h4>@x.UserName</h4>
				}
				<h4>@x.CompanyName</h4>
			</div>
		</div>
		<div class="card-body text-primary">
			<h4 class="card-title">@x.Name</h4>
			<h7>@x.Job</h7>
			<pre style="height: 30px;
         text-overflow: ellipsis;white-space: nowrap; overflow: hidden;" class="card-text">@x.Description</pre>
    </div>
    <p id="link">For more information go 
    <a href="/Advertisement/Details?AdvId=@x.Id" style="color:red;">here</a>
     </p>
</div>
}
<style>
	#link {
		margin-left: 20px;
	}

	.card-header {
		box-sizing: border-box;
	}

	#ProfImg, #ComUsrName {
		float: left;
	}

	#ComUsrName {
		padding: 30px 0 0 20px;
	}
</style>