@page
@model LoginModel

@{ ViewData["Title"] = "Log in";
    Layout = "_LayoutAnonim";}
<body>

    <div class="login-box">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="textbox">
                    @*<i class="fas fa-user" aria-hidden="true"></i>*@
                    <input placeholder="Email" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="textbox">
                    @*<i class="fas fa-lock" aria-hidden="true"></i>*@
                    <input placeholder="Password" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn" type="submit">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</body>
@*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    label {
        color: black;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-size: cover;
    }

    h4 {
        color: black;
    }

    hr {
        border-bottom: 1px solid #b6ff00;
    }

    .login-box {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }

    .text-danger {
        width: 100%;
    }

    .textbox {
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
    }

        .textbox input {
            border: none;
            outline: none;
            background: none;
            color: red;
            font-size: 22px;
            width: 95%;
            float: left;
            margin: 0 10px;
        }

        .textbox span {
            font-size: 18px;
        }

    .btn {
        width: 100%;
        background: none;
        border: 2px solid #b6ff00;
        color: black;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 12px 0;
    }

    .checkbox {
        color: black;
        margin-left: 150px;
    }
</style>
